<div class="container">
  <div class="content">
    <div class="p-grid">
      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
        <div class="p-grid">
          <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6">
            <div class="sign-up-form-container text-center">
              <div class="form-content">
                <h1>Sign Up</h1>
                <!-- <form  class="p-input-filled">
                  <div class="p-grid">
                    <div
                      class="p-col-8 p-sm-8 p-md-6 p-lg-6 p-xl-6 p-offset-2 p-sm-offset-2 p-md-offset-3 p-lg-offset-3  p-xl-offset-3 p-fluid">
                      <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="User Name" class="p-inputtext-sm input-felid">
                      </span>
                    </div>
                    <div
                      class="p-col-8 p-sm-8 p-md-6 p-lg-6 p-xl-6 p-offset-2 p-sm-offset-2 p-md-offset-3 p-lg-offset-3  p-xl-offset-3 p-fluid">
                      <span class="p-input-icon-left">
                        <i class="pi pi-envelope"></i>
                        <input type="text" pInputText placeholder="Email" class="p-inputtext-sm input-felid">
                      </span>
                    </div>
                    <div
                      class="p-col-8 p-sm-8 p-md-6 p-lg-6 p-xl-6 p-offset-2 p-sm-offset-2 p-md-offset-3 p-lg-offset-3  p-xl-offset-3 p-fluid">
                      <span class="p-input-icon-left">
                        <i class="pi pi-lock"></i>
                        <input type="text" pInputText placeholder="Password" class="p-inputtext-sm input-felid">
                      </span>
                    </div>
                    <div class="p-col-12">
                      <button pButton type="button" label="Sign up" class="p-button-outlined p-button-rounded p-button-sm"></button>
                    </div>
                  </div>
                </form> -->
              </div>
              <div class="social-meadia-buttons p-mt-4">
                <button pButton pRipple type="button" icon="pi pi-google"
                  class="p-button-rounded p-button-outlined p-mr-1"></button>
                <button pButton pRipple type="button" icon="pi pi-facebook"
                  class="p-button-rounded p-button-secondary p-button-outlined p-mr-1"></button>
                <button pButton pRipple type="button" icon="pi pi-twitter"
                  class="p-button-rounded p-button-success p-button-outlined p-mr-1"></button>
                <button pButton pRipple type="button" icon="pi pi-apple"
                  class="p-button-rounded p-button-info p-button-outlined p-mr-1"></button>
              </div>
            </div>
          </div>
          <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6">
            <div class="right-container text-center">
              <div class="p-grid">
                <div class="p-col-12">
                  <h1>One of us ?</h1>
                  <p class="p-fluid">requires having a clear understanding of the job’s
                    duties and responsibilities. The job posting should
                    also include a concise picture of the skills required for
                    the position to attract qualified job candidates. Organize the
                    job description into five sections: Company Information, Job Description,
                    Job Requirements, Benefits and a Call to Action. Be sure to include keywords
                    that will help make your job posting searchable. A well-defined job description
                    will help attract qualified candidates as well as help</p>
                </div>
                <div class="p-col-12">
                  <button pButton type="button" label="Sign In" class="p-button-rounded p-button-sm"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

